---
---

@import "{{ site.theme }}";

p.p1 {
	margin: 0.0px 0.0px 0.0px 0.0px;
	font: 12.0px Helvetica
}

p.p2 {
	margin: 0.0px 0.0px 0.0px 0.0px;
	font: 12.0px Helvetica;
	min-height: 14.0px
}

#view-on-github {
	display: none;
}

#downloads {
	margin-bottom: 0.0px;
}

header {
    padding-top: 15px;
    padding-bottom:  0.0px;
}

footer {
	margin-top: 0.0px
}

table {
		padding: 5px;
    width: 100%;
  	border: 1px solid black;
}

th, td {
  	border: 1px solid black;
}
